<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head> 
    <h1>Andrew D. Davis, PhD</h1>
    <h2>Courant Institute of Mathematical Sciences/h2>
  </head>
  <body>
    {% include navigation.html %}
    <img src="images/self.jpeg" alt="Self">
    <section class="page-header">
      <h1 class="project-name">Andrew D. Davis, PhD</h1>
      <h2 class="project-tagline">Computational science and engineering</h2>
    </section>
    <section class="main-content">
      <a id="mycontent"></a>
      {{ content }}
      {% include footer.html %}
    </section>
  </body>
</html>
